* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: linear-gradient(45deg, rgba(163,66,62,1) 34%, rgba(235,167,25,1) 83%);
  color: #FFFFFF;
}

.logo {
  display: flex;
  gap: 2vw;
  align-items: center;
}

h1 {
  font-size: 125%;
}

svg {
  height: 7vh;
  width: auto;
  fill: #ffffff; /* https://www.shecodes.io/athena/57595-how-to-change-svg-color-with-css */
}

.rules-and-credits {
  display: flex;
  align-items: center;
  gap: 5vw;
}

main {
  flex-grow: 1;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toy {
  width: 800px;
  height: 500px;
  background: linear-gradient(135deg, rgba(235,47,25,1) 11%, rgba(159,33,19,1) 91%);
  border-radius: 5%;
  box-shadow: 10px 10px 20px #8b0000;
  padding: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.setup {
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 2em;
  color: #e9ffff;
}

fieldset {
  border: 1px solid #000000;
  padding: 10px;
}

legend {
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 5px;
}

.mode {
  border-radius: 2px;
  text-align: left;
  width: 100%;
  font-size: 90%;
  margin-bottom: 10px;
  padding-left: 5px;
  box-shadow: 1px 1px 2px 2px #393737;
}

.selected {
  box-shadow: -1px -1px 2px 2px #393737;
  background-color: #aaaaaa;
  font-weight: 700;
  color: #000000;
}

/* Resets the input type range styles - Style is not consistent between browsers */
/* Check https://www.smashingmagazine.com/2021/12/create-custom-range-input-consistent-browsers/ */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
}

/* Styling for Chrome, Safari, Opera, and Edge Chromium */
/* To style the slider bar, called Track */
input[type="range"]::-webkit-slider-runnable-track {
  background: #000000;
  height: 0.2rem;
  border-radius: 3px;
}

/* To style the element that slides, called Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #f9f2f2;
  margin-top: -0.35rem;
}

/* Styling for Firefox */
/* To style the slider bar, called Track */
input[type="range"]::-moz-range-track {
  background: #b37676;
  height: 0.2rem;
  border-radius: 3px;
}

/* To style the element that slides, called Thumb */
input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  background-color: #f9f2f2;
}

#selected-grid {
  margin-top: 3px;
  text-align: right;
  font-size: 90%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.btn {
  font-size: 90%;
  font-weight: 600;
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background-color: #e3e3e3;
}

#screen {
  height: 450px;
  width: 450px;
  background-color: #ffffff;
  border-radius: 3px;
}

#container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.square {
  border: 1px #dfdfdf9b solid;
}

footer {
  flex: 0 1 auto;
  height: 5vh;
  background: linear-gradient(45deg, rgba(163,66,62,1) 34%, rgba(235,167,25,1) 83%);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .toy {
    flex-direction: column-reverse;
    width: 600px;
    height: 90%;
    gap: 1em;
  }

  .setup, #screen {
    max-width: 90%;
  }

  .setup {
    flex-direction: row;
    justify-content: space-between;
  }

  #screen {
    aspect-ratio: 1 / 1;
  }

  .btn {
    width: 5em;
  }

  .mode {
    width: 10em;
  }
}